*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  font-family: 'Roboto Mono'; 
}

.side{
  padding: 10px;
  width: 100%;
  max-width: 350px;
  overflow-y: scroll;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 350px);
}


/* Side */
.side h1{
  font-size: 58px;
}
.side h4{
  font-size: 14.5px;
  padding-bottom: 20px;
}

#Inputs{
  margin-bottom: 20px;
}

#Inputs textarea{
  width: calc(100% - 10px);
  border-radius: 10px;
  border: solid 1px black;
  padding: 5px;
  font-size: 12px;
}

#Inputs button{
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px black;
  cursor: pointer;
}
#Inputs button:active{
  scale: .95;
}

#InputText,
#SplitText {
  font-size: 12px;
}

#SplitText {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#WordCount {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#WordCount .word-count{
  color: white;
  width: fit-content;
  padding: 5px 5px;
  margin-right: 2.5px;
  margin-top: 2.5px;
  border-radius: 5px;
  background: black;
}
#WordCount .word-count span{
  padding: 0px 3px;
  color: black;
  border-radius: 2px;
  background: white;
}

#WordCloud{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;
  width: 90%;
}
.word-cloud-el{
  line-height: 1;
  padding: 10px;
  height: fit-content;
}
